<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fila Produção - <%=maquina[0].recurso%></title>
    <style>
    body {
    background-color: #0a192f;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}




    .tableFila {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .tableFila th {
        border: 3px solid #ffffff;
        padding: 10px;
        text-align: center;
        background-color: #394867;
        font-weight: bold;
        text-transform: uppercase;
    }

    .tableFila td {
        border: 1px solid #2e3d58;
        padding: 5px;
        text-align: center;
        background-color: #4f608b;
        font-size: 16px;
    }

    .containerIframe {
        position: fixed;
        top: 15%;
        left: 20%;
        width: 80%;
        max-width: 1000px;
        height: 60%;
        z-index: 50;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 70px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    .containerIframeOP {
        position: fixed;
        top: 1%;
        width: 95%;
        height: 90%;
        z-index: 50;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .containerIframeChecklist, .containerIframeError{
        position: fixed;
        top: 1%;
        width: 70%;
        height: 95%;
        z-index: 50;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.8;
    }

    .buttonImagem,
    .buttonIframeClose {
        padding: 8px 20px;
        font-size: 14px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .buttonImagem {
        background-color: #3d84b8;
        color: #ffffff;
        margin-top: 10px;
    }

    .buttonImagem:hover,
    .buttonIframeClose:hover {
        opacity: 0.8;
    }

    .iconPerfil,
    .iconOP,
    .iconChecklist {
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }

    .iconPerfil:hover, .iconOP:hover, .iconChecklist:hover {
        cursor: pointer;
    }

    .imgRefreshFila {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }

    .buttonRefreshFila {
        font-size: 20px;
        font-weight: bold;
        background-color: #70a9a1;
        color: #ffffff;
        padding: 6px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .buttonRefreshFila:hover {
        opacity: 0.8;
    }

    .titleFila {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #ffffff;
    }
    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    }
    
    .gradiente-animado {
        background: linear-gradient(45deg, #cedb57, rgb(211, 7, 51), #5c0c0c, #fa7373);
        background-size: 400% 400%;
        animation: gradientAnimation 2s ease infinite;
    }

    @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }

    .componentesOP:hover {
        cursor: pointer;
    }


    /* CSS para o ícone de carregamento */
    .loading-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            justify-content: center;
            align-items: center;
        }
        .loading-spinner {
            border: 8px solid #f3f3f3;
            border-radius: 50%;
            border-top: 8px solid #3498db;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }    
    </style>
    
</head>
<body>
    <div style="display: none;" class="containerIframe" id ="containerIframe">
    <button class="buttonIframeClose" onclick="closeIFrame(this);">X</button><br>
    <iframe id="iframePerfil" src="/errorPage" width="100%" height="100%"></iframe>
    </div>

    <div style="display:none;" class="containerIframe" id ="containerIframeComponentes">
        <button class="buttonIframeClose" onclick="closeIFrame(this);">X</button><br>
        <iframe id="iframeComponentesOP" src="/errorPage" width="100%" height="100%"></iframe>
        </div>

    <div id="loadingOverlay" class="loading-overlay">
        <div class="loading-spinner"></div>
    </div>
    <div style="display: none;" class="containerIframeOP" id ="containerIframeOP">
        <button class="buttonIframeClose" onclick="closeIFrame(this);">X</button><br>
        <iframe id="iframeOP" src="/errorPage" width="100%" height="100%"></iframe>
    </div>

    <div style="display: none;" class="containerIframeChecklist" id ="containerIframeChecklist">
        <button class="buttonIframeClose" onclick="closeIFrame(this);">X</button><br>
        <iframe id="iframeChecklist" src="/errorPage" width="100%" height="95%"></iframe>
    </div>

    <div style="display: none;" class="containerIframeError" id ="containerIframeError">
        <button class="buttonIframeClose" onclick="closeIFrame(this);">X</button><br>
        <iframe id="iframeError" src="/errorPage" width="100%" height="95%"></iframe>
    </div>
    
    <div>
        <span class="titleFila">Recurso: <strong class="codRecurso"><%=maquina[0].recurso%></strong></span>
        <span class="titleFila">Etapa: <strong class="codEtapa"><%=maquina[0].etapa%></strong> </span>
        <button class="buttonRefreshFila" onclick="document.location.reload(true)"><img class="imgRefreshFila" src="/images/RefreshArrow.png">Atualizar</button>
            <table class="tableFila" style="width:100%">
                <tr>
                    <th>Seq.</th>
                    <th>OP</th>
                    <th>Ini Prog.</th>
                    <th>Fim Prog.</th>
                    <th>Peso OP.</th>
                    <th>Qtd. OP</th>   
                    <th>Item</th>
                    <th>Descrição Item</th>
                    <th>Entrega</th>
                    <th>Cores</th>
                    <% if ( maquina[0].recurso.toString().startsWith("2") ){ %>
                        <th>Velocidade (mpm)</th>
                    <% } %>
                    <th>Imagem do Item</th>
                    <th>Perfil de Cores</th>
                    <th>Componentes</th>
                    <th>OP</th>
                </tr>
                <tr>
                    <% 
                    let opMRP = maquina.filter(ele => ele.mrp !== null);
                    let guposDeMrp = [];
                    let velocidade_item;
                    maquina.forEach(function(maquina) 
                    { 
                        if (maquina.codigo_cor_mrp !== null) {
                        %>
                            <td style="background-color: <%=maquina.codigo_cor_mrp%>;"><%=maquina.seq_fila%></td>
                        <% } 
                        else { %>
                            <td><%=maquina.seq_fila%></td> <% } 
                        
                        if (maquina.situacao_recurso === 'P') { %>
                            <td style="background-color:#7a366d;"><strong class="numero_op"><%=maquina.op%></strong> <br>Em Prod.</td> <%
                        }
                        else { %>
                            <td class="numero_op"><%=maquina.op%></td>
                        <%
                        }%>
                        
                        <td><%=functions.dateFormat("custom",maquina.inicioprog)%></td>
                        <td><%=functions.dateFormat("custom",maquina.fimprog)%></td>
                        <td><%=maquina.peso.toLocaleString('pt-BR')%></td>
                        <td><%=maquina.quantidade.toLocaleString('pt-BR')%></td>
                        <td class="codigo_item" name="codigo_item" id="codigo_item"><%=maquina.codigo_item%></td>
                        <td><%=maquina.descricao_item%></td>
                        <td><%=maquina.previsoes_entregas%></td>
                        <td><%=maquina.quantidade_cores%></td>
                        <% if ( maquina.recurso.toString().startsWith("2") ){ 
                            velocidade_item = maquina.velocidade_item ? maquina.velocidade_item.slice(0,3):''; %>
                            <td style="background-color:rgb(2, 167, 52);font-size: 30px"><%=velocidade_item%></td>
                        <% } %>
                        <td>
                            <% if (maquina.TIPO_IMAGEM) {
                                maquina.TIPO_IMAGEM.forEach(function(tipo_imagem){ 
                                let codItemTipoImg = tipo_imagem.codigo_item + '-' + tipo_imagem.descricao_tipo_imagem.charAt(0); %>
                                <button class="buttonImagem"><a target="_blank" href="/images/itens/<%=codItemTipoImg%>"><%=tipo_imagem.descricao_tipo_imagem%></a></button>
                            <%  })
                            } %>
                        <td>
                            <% if (maquina.tem_perfil > 0) {%> <img src="/images/iconView.png" class="iconPerfil" onclick="openIframe(this)"></a></img> <% } %>
                        </td>
                            <%
                            let fraseColunaComponentes;
                            if (maquina.componente_bob_extrusada) {
                                fraseColunaComponentes = 'Qtd Extrusada: ' + maquina.saldo_componentes;
                            }
                            if (maquina.componente_bob_terceiro) {
                                fraseColunaComponentes = 'Bob Terceiro Disponível';
                            }
                            if (!maquina.componente_op_negativo) {%> 
                                <td> <strong class="componentesOP" onclick="openIframe(this)" ><%=fraseColunaComponentes%> </strong> </td> <% } %>
                            <% if (maquina.componente_op_negativo) {%> 
                                <td class="gradiente-animado"><strong class="componentesOP" onclick="openIframe(this)"  style="color:#ffffff;">INDISPONÍVEL</strong> </td> <% } %>
                        
                        <td>
                            <img src="/images/iconOP.png" class="iconOP" onclick="openIframe(this)"></a></img>
                            <img src="/images/iconChecklist.png" class="iconChecklist" onclick="openIframe(this)"></a></img>  
                        </td>
                        <tr></tr>
                    <% }); %>
                </tr>
            </table>
            <p> 
                Fila de Producao CIM
            </p> 
        </div>    
        <script>
            async function gerarOP(op, etapa, seqEtapa, recurso) {
                const params = {
                    op: op,
                    etapa: etapa,
                    seqEtapa: seqEtapa,
                    recurso: recurso
                }
                document.getElementById('loadingOverlay').style.display = 'flex';
                try {
                    const response = await fetch('/gerarOP', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(params)
                    });
                    const data = await response.json();
                    document.getElementById('loadingOverlay').style.display = 'none';
                    return data.fileURL
                } catch (error) {
                    console.log('Erro ao requisitar a geração de OP', error);
                    document.getElementById('loadingOverlay').style.display = 'none';
                }
            }
            async function getUrlChecklist(op, etapa, recurso) {
                const params = {
                    op: op,
                    etapa: etapa,
                    recurso: recurso
                }
                document.getElementById('loadingOverlay').style.display = 'flex';
                try {
                    const response = await fetch('/getUrlChecklist', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(params)
                    });
                    const data = await response.json();
                    document.getElementById('loadingOverlay').style.display = 'none';
                    return data.urlChecklist
                } catch (error) {
                    console.log('Erro ao requisitar a geração da URL do Checklist ', error);
                    document.getElementById('loadingOverlay').style.display = 'none';
                }
            }
            async function openIframe(element) {
                function executeIfrmae(idContainer, idElement, src) {
                    var containerFrame = document.getElementById(idContainer);
                    containerFrame.style.display = "block";
                    iframe = document.getElementById(idElement);
                    iframe.src = src; 
                }
                elementParent = element.parentNode.parentNode;
                
                let codigo_item = elementParent.querySelector('.codigo_item').innerHTML;
                let numeroOP = elementParent.querySelector('.numero_op').innerHTML;
                let codEtapa = document.querySelector('.codEtapa').innerHTML;
                let codRecurso = document.querySelector('.codRecurso').innerHTML;
                let className = element.className;
                if (className === 'iconPerfil') {
                    executeIfrmae("containerIframe", "iframePerfil", `/perfilcores/${codigo_item}`)
                }
                if (className === 'componentesOP') {
                    executeIfrmae("containerIframeComponentes", "iframeComponentesOP", `/componentes/${numeroOP}/${codEtapa}/${codRecurso}`)
                }
                if (className === 'iconOP') {
                    let urlOP = await gerarOP(numeroOP, codEtapa, 1, codRecurso);
                    if (urlOP) {
                        //executeIfrmae("containerIframeOP", "iframeOP", urlOP)
                        window.open(urlOP, '_blank')
                    } else {
                        executeIfrmae("containerIframeError", "iframeError")
                    }
                }
                if (className === 'iconChecklist') {
                    let urlChecklist = await getUrlChecklist(numeroOP, codEtapa, codRecurso)
                    if (urlChecklist) {
                        //executeIfrmae("containerIframeChecklist", "iframeChecklist", urlChecklist)
                        window.open(urlChecklist, '_blank')
                    } else {
                        executeIfrmae("containerIframeError", "iframeError")
                    }
                }
            }
            function closeIFrame(element) {
                var frame = element.parentElement;
                let iframeSRC = frame.querySelector('iframe');
                iframeSRC.src = '/errorPage';
                frame.style.display = "none";
            }
        </script>
</body>

</html>