<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fila Producao</title>
    <style>
        body {
        background-color: #013e80;
        text-align: justify;
        color: white;
    }
    .headerFila {
        display: inline-block;
    }
    .tableLegenda {
        margin-left: 1px;
    }
    .tableFila, .tableFila th {
        border:3px solid black;
        text-align: center;
    }
    .tableFila th {
        background-color: rgb(59, 59, 59);
    }
    .tableFila td {
        border:3px solid rgb(0, 0, 0);
        background-color: rgb(97, 97, 97);
        text-align: center;
    }
    .containerIframe {
    position:fixed;
    top:25%;
    left:25%;
    width:100%;
    height:100%;
    z-index:50;
    color:#fff;
    }
    .containerIframeOP {
    position:fixed;
    top:15%;
    left:10%;
    width:100%;
    height:100%;
    z-index:50;
    color:#fff;
    }

    /* Style the Image Used to Trigger the Modal */
    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}

    .buttonImagem {
        width: 90px;
        height: 30px;
    }
    .iconPerfil, .iconOP{
        width: 40px;
        height: 28px;
    }
    .buttonIframeClose {
        width: 80px;
        height: 40px;
        font-weight: bold;
        background-color: firebrick;
        color: whitesmoke
    }
   
    .imgRefreshFila {
        width: 22px;
        height: 22px;
        margin-top: 2px;
    }
    .buttonRefreshFila {
        margin-left: 30px;
        font-size: 25px;
        font-weight: bold;
        padding: 2px;
    }
    .titleFila {
        font-size: 40px;
        font-weight: bold;
    }
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    }    
    </style>
    
</head>
<body>
    <div style="display: none;" class="containerIframe" id ="containerIframe">
    <button class="buttonIframeClose" onclick="closeIFrame(this);">X</button><br>
    <iframe id="iframePerfil" src="/" width="50%" height="45%"></iframe>
    </div>

    <div style="display: none;" class="containerIframeOP" id ="containerIframeOP">
        <button class="buttonIframeClose" onclick="closeIFrame(this);">X</button><br>
        <iframe id="iframeOP" src="/" width="80%" height="70%"></iframe>
        </div>

    <div class=headerFila>
        <button id="buttonMaquinasBack" onclick="window.history.back()"> Voltar </button>
    </div>
    
    <div class="headerFila">
        <table class="tableLegenda" style="width: 100%;">
            <tr><td>Cores Iguais = </td><td>OPs Casadas/MRP</td></tr>
            <tr><td>Visualizar Perfil = </td><td>Clique na imagem do "olho" </td></tr>
        </table>
    </div>
    <div>
        <span class="titleFila">Recurso: <%= maquina[0].recurso %></span>
        <button class="buttonRefreshFila" onclick="document.location.reload(true)"><img class="imgRefreshFila" src="/images/RefreshArrow.png">Atualizar</button>
            <table class="tableFila" style="width:100%">
                <tr>
                    <th>Seq. Fila</th>
                    <th>Número OP</th>
                    <th>Ini Prog.</th>
                    <th>Fim Prog.</th>
                    <th>Peso OP.</th>
                    <th>Quantidade OP</th>   
                    <th>Código Item</th>
                    <th>Descrição Item</th>
                    <th>Imagem do Item</th>
                    <th>Perfil de Cores</th>
                    <!--<th>Visualizar OP</th>-->
                </tr>
                <tr>
                    <% 
                    let opMRP = maquina.filter(ele => ele.mrp !== null);
                    let guposDeMrp = [];
                    //const db = require("../db.js");
                    //const tipo_imagem = await db.selectPerfilCores(codigo_item);
                    //opMRP.forEach(function(element){
                    //    console.log(element);
                    //    let tem = guposDeMrp.filter(nummrp => nummrp.mrp === element.mrp);
                    //})
                    maquina.forEach(function(maquina) 
                    { 
                        if (maquina.codigo_cor_mrp !== null) {
                        %>
                            <td style="background-color: <%=maquina.codigo_cor_mrp%>;"><%=maquina.seq_fila%></td>
                        <% } 
                        else { %>
                            <td><%=maquina.seq_fila%></td> <% } %>
                        <td class="numero_op"><%=maquina.op%></td>
                        <td><%=functions.dateFormat("custom",maquina.inicioprog)%></td>
                        <td><%=functions.dateFormat("custom",maquina.fimprog)%></td>
                        <td><%=maquina.peso%></td>
                        <td><%=maquina.quantidade%></td>
                        <td class="codigo_item" name="codigo_item" id="codigo_item"><%=maquina.codigo_item%></td>
                        <td><%=maquina.descricao_item%></td>
                        <td>
                            <% if (maquina.TIPO_IMAGEM) {
                                maquina.TIPO_IMAGEM.forEach(function(tipo_imagem){ 
                                let codItemTipoImg = tipo_imagem.codigo_item + '-' + tipo_imagem.descricao_tipo_imagem.charAt(0); %>
                                <button class="buttonImagem"><a target="_blank" href="/images/itens/<%=codItemTipoImg%>.jpg"><%=tipo_imagem.descricao_tipo_imagem%></a></button>
                            <%  })
                            } %>
                        <td>
                            <% if (maquina.tem_perfil > 0) {%> <img src="/images/iconView.png" class="iconPerfil" onclick="openIframe(this)"></a></img> <% } %>
                        </td>
                        <!--<td>
                            <img src="/images/iconView.png" class="iconOP" onclick="openIframe(this)"></a></img> 
                        </td> -->
                        <!-- Trigger the Modal -->
                        <!--<td><img onclick="modalImage(this)" id="<%=maquina.codigo_item%>" src="/images/<%=maquina.codigo_item%>.jpg" alt="Snow" style="width:100%;max-width:300px">-->
                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                        <!-- The Close Button -->
                        <span class="close">&times;</span>
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="<%=maquina.codigo_item%>-img">
                        <!-- Modal Caption (Image Text) -->
                        <div id="caption"></div>
                        </div>
                        </td>
                        <tr></tr>
                    <% }); %>
                </tr>
            </table>
            <p> 
                Fila de Producao CIM
            </p> 
        </div>    
        <script>
            function openIframe(element) {
                function executeIfrmae(idContainer, idElement, src) {
                    var containerFrame = document.getElementById(idContainer);
                    containerFrame.style.display = "block";
                    iframe = document.getElementById(idElement);
                    iframe.src = src; 
                }
                elementParent = element.parentNode.parentNode;
                let codigo_item = elementParent.querySelector('.codigo_item').innerHTML;
                let numeroOP = elementParent.querySelector('.numero_op').innerHTML;
                console.log(numeroOP);
                let className = element.className;
                if (className === 'iconPerfil') executeIfrmae("containerIframe", "iframePerfil", `/perfilcores/${codigo_item}`)
                if (className === 'iconOP') executeIfrmae("containerIframeOP", "iframeOP", `/op/${numeroOP}`)
            }
            function closeIFrame(element) {
                var frame = element.parentElement;
                frame.style.display = "none";
            }
            function modalImage(element) {
                console.log(element);
                //let im = document.getElementById(element.id).parentElement;
                //console.log(im.getElementsByClassName("modal-content")[0]);
            // Get the modal
            var modal = document.getElementById("myModal");
            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = element; //document.getElementById("myImg");
            let im = document.getElementById(element.id).parentElement;
            var modalImg = im.getElementsByClassName("modal-content")[0]; //document.getElementById("img01");
            var captionText = document.getElementById("caption");
            //img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = img.src;
            captionText.innerHTML = img.alt;
            //}
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
            modal.style.display = "none";
            }
        }
            </script>
</body>

</html>