<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Cores</title>
    <style>
        body {
        background-color: #013e80;
        text-align: center;
        color: white;
        font-style:initial;
    }
    table, th {
        border:2px solid black;
    }
    th {
        background-color: grey;
    }
    td {
        border:2px solid rgb(0, 0, 0);
        background-color: rgb(97, 97, 97);
        font-weight:bold;
    }
    .td-cor {
        text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    }
     
    </style>
    
</head>
<body>

    <div>
        <h1>Perfil de Cores do Item: 
            <%= perfilcores[0].codigo_item %>
        </h1>
        
            <table style="width:100%">
                <tr>
                    <th>Seq. Cor</th>
                    <th>Cor</th>
                    <th>Anilox</th>
                    <th>Densidade</th>
                    <th>TV</th>
                    <th>LAB</th>
                </tr>
                <tr>
                    <% perfilcores.forEach(function(perfilcores) { 
                        let cor; 
                        if (perfilcores.seq_cor === 1) cor = "#2ce4e9"
                        if (perfilcores.seq_cor === 2) cor = "#d351ae"
                        if (perfilcores.seq_cor === 3) cor = "#f3e81ce0"
                        if (perfilcores.seq_cor === 4) cor = "#080808"
                        if (perfilcores.seq_cor === 5) cor = "#db9049"
                        if (perfilcores.seq_cor === 6) cor = "#51d376"
                        if (perfilcores.seq_cor === 7) cor = "#9251d3"
                        if (perfilcores.seq_cor === 8) cor = "#a5dfd3"
                        if (perfilcores.seq_cor === 9) cor = "#9e007e"
                        if (perfilcores.seq_cor === 10) cor = "#00b1ac"
                        %>
                        <td class= "td-cor" style="background-color:<%=cor%>;"><%=perfilcores.seq_cor%></td>
                        <td class= "td-cor" style="background-color:<%=cor%>;"><%=perfilcores.desc_cor%></td>
                        <td class= "td-cor" style="background-color:<%=cor%>;"><%=perfilcores.anilox%></td>
                        <td class= "td-cor" style="background-color:<%=cor%>;"><%=perfilcores.densidade%></td>
                        <td class= "td-cor" style="background-color:<%=cor%>;"><%=perfilcores.tv%></td>
                        <td class= "td-cor" style="background-color:<%=cor%>;"><%=perfilcores.lab%></td>
                        <tr></tr>
                    <% }); %>
                </tr>
            </table>
            <p> 
                Perfil de Cores - CIM
            </p> 
        </div>    
        <script>
        </script>
</body>

</html>